<template>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          
        </div>
      </div>
    </div>
</template>
<script>
    import { shipServices } from '@/service/ship/shipServices';
    export default {
      components: {
        
      },
      methods: {
        async historyVessel() {
          await shipServices.getHistoryVessel()
          .then(res => {
            let data = res.data.data;
          }).catch(err => {
              console.error
          })
        }
      },
      mounted() {
        this.historyVessel();
      }
    }
  
</script>
<style>  
</style>
  