<template>
    <div class="contact-us full-screen gradient-background">
      <div class="wrapper wrapper-full-page section content">
        <div style="height: 100vh; display: flex; align-items: center;">
          <div class="container login-wrap" style="display: flex; justify-content: center;">
            <div class="row" style="width: 100%;">
                <div class="left-side" style="width: 40%;">
                    <div
                        style="height: 100%; display: flex; align-items: center; justify-content: center;"
                        class="border"
                    >
                        <div>
                            <img
                                src="@/assets/icons/route.png"
                                width="140"
                                height="140"
                            />
                        </div>
                    </div>
                </div>
                <div class="right-side" style="width: 60%;">
                    <div
                        style="height: 100%;"
                    >
                        <div class="text-center" style="height: 40%; display: flex; flex-direction: column; justify-content: space-around;">
                            <div>
                                <img
                                    src="@/assets/icons/ship-icon.png"
                                    width="80"
                                    height="80"
                                />
                            </div>
                            <label style="font-size: 1.3em; font-weight: 500; margin-top: -3em;">
                                .Ship Monitoring
                            </label>
                        </div>
                        <div style="display: flex; justify-content: center; align-items: start; height: 60%;">
                            <div style="width: 60%;">
                                <div>
                                    <div>
                                        <base-input
                                            type="text"
                                            label="Username"
                                            placeholder="Username"
                                            v-model="username"
                                        />
                                    </div>
                                    <div>
                                        <base-input
                                            type="password"
                                            label="Password"
                                            placeholder="Password"
                                            v-model="password"
                                        />
                                    </div>
                                </div>
                                <div style="margin-top: 2em;">
                                    <button
                                        type="submit"
                                        class="btn btn-info btn-fill float-right"
                                        style="width: 100%;"
                                        @click="loginAuth()"
                                    >
                                        Submit
                                    </button>
                                    <div style="font-size: 14px;">
                                        <span>
                                            Don't have an account ?
                                            <a
                                                @click="toRegisterPage()"
                                                style="cursor: pointer;"
                                            >
                                                Register
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
  
<script>
    import Card from 'src/components/Cards/Card.vue'
    import { authServices } from '@/service/auth/authServices';
    export default {
        data() {
            return {
                username: '',
                password: ''
            }
        },
        components: {
            Card
        },
        methods: {
            toRegisterPage() {
                this.$router.push('/auth/register')
            },
            async loginAuth() {
                let data = {
                    user_name: this.username,
                    user_password: this.password
                };

                await authServices.doLogin(data)
                .then(res => {
                    let token = res.data.data.access_token;
                    if (res.status === 200) {
                        localStorage.setItem('access_token', token);
                        this.$router.push('/admin/overview');
                    } else {
                        
                    }
                }).catch(err => {
                    console.error
                })
            }
        }
    }  
</script>
<style scoped>
.login-wrap {
    background-color: #ffffff;
    border-radius: 5px;
    height: 70%;
}
.left-side {
    background-color: #1E1E1E;
}
.gradient-background {
    background: #1E1E1E;
    /* background: conic-gradient(from 315deg, rgba(151, 195, 235, 1.0), rgba(233, 235, 233, 1.0)); */
    background:linear-gradient(315deg, #1E1E1E, #1E1E1E 60%, rgba(233, 235, 233, 1.0) 60%, rgba(233, 235, 233, 1.0));
}
</style>
  