<template>
  <div class="openstreetmap" id="map">
    <l-map style="height: 100%" :zoom="zoom" :center="center">
      <l-control
        :position="layersPosition"
        :collapsed="false"
        :sort-layers="true"
      >
        <div class="list-ship-card" v-if="isShowMore">
          <!-- close -->
          <div class="exit" @click="isShowMore=false">
            <span
              style="font-size: 1.2em;"
            >
              x
            </span>
          </div>
          <div style="font-size: 1.3em;">
            <span>
              List Ship
            </span>
            <img
              src="@/assets/icons/ship.png"
              width="50"
              height="50"
            />
          </div>
          <div
            class="list-card"
            v-for="(item, idx) in listShip"
            :key="idx"
          >
            <div>
              <div>
                {{ item.name }}
              </div>
            </div>
          </div>
        </div>

        <!-- top 3 ship -->
        <div v-if="!isShowMore" class="list-ship-card">
          <div style="font-size: 1.3em;">
            <span>
              List Ship
            </span>
          </div>
          <div
            class="list-card"
            v-for="(item, idx) in listShip"
            :key="idx"
            v-if="idx <= 1"
            @click="vesselHistory(item.vesel_id)"
          >
            <div>
              <div>
                {{ item.name }}
              </div>
            </div>
          </div>
          <div class="text-center btn-show-more" @click="isShowMore=true" style="cursor: pointer;">
            <span>
              Show More
            </span>
          </div>
        </div>
      </l-control>
      <l-tile-layer :url="url" :attribution="attribution"></l-tile-layer>
      <l-marker v-for="(location, index) in locations" :lat-lng="location.position" v-bind:key="index">
        <l-icon
          :icon-anchor="[22, 94]"
          class-name="someExtraClass"
        >
          <img src="@/assets/icons/ship.png" width="50" height="50"/>
        </l-icon>
        <l-popup :content="location.name" ></l-popup>
      </l-marker>
      <l-marker ref="marker" :lat-lng="[newLt, newLng]" :icon="icon">
        <l-popup ref="popup" :content="newLoc" :options="{ autoClose: false, closeOnClick: false }"></l-popup>
        <!-- <l-icon
          :icon-size="dynamicSize"
          :icon-anchor="dynamicAnchor"
          :icon-url="'@/assets/icons/ship.png'"
        /> -->
      </l-marker>
    </l-map>
  </div>
</template>
<script>
  import {API_KEY} from './Maps/API_KEY'
  import Vue from 'vue'
  import * as VueGoogleMaps from 'vue2-google-maps'
  import L from 'leaflet';
  import { LMap, LTileLayer, LMarker, LPopup, LIcon, LControl } from 'vue2-leaflet';
  import 'leaflet/dist/leaflet.css';
  import { shipServices } from '@/service/ship/shipServices';
  delete L.Icon.Default.prototype._getIconUrl
	L.Icon.Default.imagePath = ''
	L.Icon.Default.mergeOptions({
		iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
		iconUrl: require('leaflet/dist/images/marker-icon.png'),
		shadowUrl: require('leaflet/dist/images/marker-shadow.png')
	})

  Vue.use(VueGoogleMaps, {
    load: {
      key: API_KEY
    }
  })
  export default {
    components: {
      LMap, LTileLayer, LMarker, LPopup, LIcon, LControl
    },
    computed: {
      dynamicSize() {
        return [this.iconSize, this.iconSize * 1.15];
      },
      dynamicAnchor() {
        return [this.iconSize / 2, this.iconSize * 1.15];
      }
    },
    data: () => ({
      isShowMore: false,
			zoom: 5,
			center: L.latLng(-2.3812502,107.2105822),
			url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      layersPosition: 'topright',
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
			id: 'mapbox/streets-v11',
			newLoc: '',
			newLt : 0, 
			newLng : 0, 
			locations: [],
			icon: L.icon({
        iconUrl: "@/assets/icons/ship.png",
        iconSize: [32, 37],
        iconAnchor: [16, 37]
      }),
      iconSize: 64,
      listShip: []
		}),
		mounted ()  {
			this.$nextTick(() => {
				this.$refs.marker.mapObject.openPopup();
			});
			this.newLoc = this.locations[0].name
			this.newLt = this.locations[0].position[0]
			this.newLng = this.locations[0].position[1]
		},
		methods: {
			onMapClick(e) {
				this.newLt = e.latlng.lat
				this.newLng = e.latlng.lng
				this.newLoc = 'Location on click: '+(e.latlng.lat).toFixed(6)+','+(e.latlng.lng).toFixed(6)
			},
      async positionVessel() {
        await shipServices.getLastPositionVessel()
        .then(res => {
          let data = res.data.data;
          let tempArr = [];
          data.map((item, idx) => {
            tempArr.push(
              { name: item.name, position: [item.LAT,item.LNG] }
            );
          });
          this.locations = tempArr;
          this.listShip=data;
        }).catch(err => {
            console.error
        })
      },
      async vesselHistory(id) {
        await shipServices.getHistoryVessel(id)
        .then(res => {
          let data = res.data.data;
          let tempArr = [];
          data.map((item, idx) => {
            tempArr.push(
              { name: item.name, position: [item.LAT,item.LNG] }
            );
          });
          this.locations = tempArr;
        }).catch(err => {
          console.error
        })
      }
		},
    mounted() {
      this.positionVessel();
    }
  }
</script>
<style>
  #map {
    min-height: calc(100vh - 123px);
  }
  .map-content {
    position: relative;
    min-height: calc(100vh - 123px);
  }
  .list-ship {
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 99;
  }
  .list-ship-card {
    position: relative;
    padding: 1em;
    width: 15em;
    background: rgba(0, 0, 0, 0.2);
  }
  .list-ship-card:hover {
    width: 15em;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
  }
  .list-card {
    margin: .5em 0;
    padding: .5em 1em;
    cursor: pointer;
  }
  .list-card:hover {
    margin: .5em 0;
    padding: .5em 1em;
    background: rgba(255, 255, 255, 0.9);
  }
  .btn-show-more {
    padding: .5em 0;
  }
  .btn-show-more:hover {
    padding: .5em 0;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
  }
  .exit {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3em;
    position: absolute;
    right: .5em;
    top: .1em;
    cursor: pointer;
  }
</style>
