<template>
  <div class="contact-us full-screen">
    <div class="wrapper wrapper-full-page section content">
      <div style="height: 100vh; display: flex; align-items: center;">
        <div class="container">
          <div class="row" style="display: flex; justify-content: center;">
            <div class="text-center">
              <h2 class="title text-danger">404 Not Found</h2>
              <h2 class="title">Oops! It seems that this page does not exist.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {}

</script>
