<template>
    <div class="content">
      <div class="container-fluid">
        <div class="row" style="overflow-x: scroll;">
          <l-table
            class="table-hover table-striped"
            :columns="table1.columns"
            :data="table1.data"
          >
          </l-table>
        </div>
      </div>
    </div>
</template>
<script>
    import EditProfileForm from './UserProfile/EditProfileForm.vue'
    import UserCard from './UserProfile/UserCard.vue'
    import { shipServices } from '@/service/ship/shipServices';
    import LTable from 'src/components/Table.vue'
    const tableColumns = ['Name', 'IMEI', 'MMSI']

    export default {
      data() {
        return {
          listVessel: [],
          table1: {
            columns: [...tableColumns],
            data: []
          }
        }
      },
      components: {
        EditProfileForm,
        UserCard,
        LTable
      },
      methods: {
        async vesselPossition() {
          await shipServices.getVessel()
          .then(res => {
            let data = res.data.data;
            let tempArr = [];
            data.map((item, idx) => {
              tempArr.push({
                name: item.name,
                imei: item.imei,
                mmsi: item.mmsi
              });
            });
            this.table1.data = tempArr;
          }).catch(err => {
              console.error
          })
        }
      },
      mounted() {
        this.vesselPossition()
      }
    }
  
</script>
<style scoped>
</style>
  