<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    components: {
      
    }
  }

</script>
<style>

</style>
