<template>
    <div class="wrapper">
        <dashboard-content>
  
        </dashboard-content>
    </div>
</template>
<script>
    import DashboardContent from './Content.vue'
    export default {
      components: {
        DashboardContent
      },
      methods: {
      }
    }
</script>
  